In [1]:
import zipfile
import os
import pandas as pd
import io

In [6]:
def txt_to_csv(input_file_name, output_file_name, delimiter='\t', header=True):
    # Get the current working directory
    cwd = os.getcwd()

    # Create full file paths
    input_file_path = os.path.join(cwd, input_file_name)
    output_file_path = os.path.join(cwd, output_file_name)

    # Read the text file
    header_row = 0 if header else None
    df = pd.read_csv(input_file_path, delimiter=delimiter, header=header_row)

    # Save the dataframe to a CSV file
    df.to_csv(output_file_path, index=False)

    # Ensure the CSV file has been created before deleting the TXT file
    #if os.path.exists(output_file_path):
        #os.remove(input_file_path)
    #else:
        #print("Error in converting to CSV, TXT file not deleted.")

In [8]:
def zip_csv(input_csv, output_zip):
    # Read the CSV into a DataFrame
    df = pd.read_csv(input_csv)

    # No need to identify and filter by top species; we skip that step

    # Create a buffer to write the DataFrame to
    buffer = io.StringIO()
    df.to_csv(buffer, index=False)
    buffer.seek(0)  # Rewind the buffer

    # Zip the buffered CSV
    with zipfile.ZipFile(output_zip, 'w', zipfile.ZIP_DEFLATED) as zipf:
        zipf.writestr(os.path.basename(input_csv), buffer.getvalue())

    # Check if the zip file has been created and is not empty before deleting the original CSV
    #if os.path.exists(output_zip) and os.path.getsize(output_zip) > 0:
        #os.remove(input_csv)
    #else:
        #print("Error in zipping process, original CSV file not deleted.")

In [5]:
def unzip_and_read_csv(input_zip):
    with zipfile.ZipFile(input_zip, 'r') as zipf:
        # Assuming there's only one file in the zip
        csv_file_name = zipf.namelist()[0]
        with zipf.open(csv_file_name) as csv_file:
            return pd.read_csv(csv_file)

In [7]:
txt_to_csv('NORCAR_JAN.txt', 'NORCAR_JAN.csv')
txt_to_csv('NORCAR_APRIL.txt', 'NORCAR_APRIL.csv')
txt_to_csv('NORCAR_JUL.txt', 'NORCAR_JUL.csv')
txt_to_csv('NORCAR_OCT.txt', 'NORCAR_OCT.csv')

C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\1485924221.py:11: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path, delimiter=delimiter, header=header_row)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\1485924221.py:11: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path, delimiter=delimiter, header=header_row)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\1485924221.py:11: DtypeWarning: Columns (9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path, delimiter=delimiter, header=header_row)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\1485924221.py:11: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file_path, delimiter=delimiter, header=header_row)

In [9]:
zip_csv('NORCAR_JAN.csv', 'NORCAR_JAN.zip')
zip_csv('NORCAR_APRIL.csv', 'NORCAR_APRIL.zip')
zip_csv('NORCAR_JUL.csv', 'NORCAR_JUL.zip')
zip_csv('NORCAR_OCT.csv', 'NORCAR_OCT.zip')

C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\412126305.py:3: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_csv)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\412126305.py:3: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_csv)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\412126305.py:3: DtypeWarning: Columns (9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_csv)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\412126305.py:3: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_csv)

In [10]:
NORCAR_JAN = unzip_and_read_csv('NORCAR_JAN.zip')
NORCAR_APRIL = unzip_and_read_csv('NORCAR_APRIL.zip')
NORCAR_JUL = unzip_and_read_csv('NORCAR_JUL.zip')
NORCAR_OCT = unzip_and_read_csv('NORCAR_OCT.zip')

C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\3041235366.py:6: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\3041235366.py:6: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\3041235366.py:6: DtypeWarning: Columns (9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)
C:\Users\iandr\AppData\Local\Temp\ipykernel_28092\3041235366.py:6: DtypeWarning: Columns (7,8,9,24) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file)

In [56]:
NORCAR_DATA = pd.concat([NORCAR_JAN, NORCAR_APRIL, NORCAR_JUL, NORCAR_OCT], ignore_index=True)

In [57]:
NORCAR_DATA

,GLOBAL UNIQUE IDENTIFIER,LAST EDITED DATE,TAXONOMIC ORDER,CATEGORY,TAXON CONCEPT ID,COMMON NAME,SCIENTIFIC NAME,SUBSPECIES COMMON NAME,SUBSPECIES SCIENTIFIC NAME,EXOTIC CODE,...,NUMBER OBSERVERS,ALL SPECIES REPORTED,GROUP IDENTIFIER,HAS MEDIA,APPROVED,REVIEWED,REASON,TRIP COMMENTS,SPECIES COMMENTS,Unnamed: 49
0,URN:CornellLabOfOrnithology:EBIRD:OBS1321062323,2022-01-17 18:40:50.322886,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS1329949757,2022-01-29 19:01:35.293943,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN
2,URN:CornellLabOfOrnithology:EBIRD:OBS1310720761,2022-01-05 10:13:44.923674,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN
3,URN:CornellLabOfOrnithology:EBIRD:OBS1330369258,2022-02-03 20:50:42.362749,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,2.0,1.0,G7820255,0.0,1.0,0.0,NaN,NaN,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS1307344186,2022-01-01 07:45:21.316389,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982662,URN:CornellLabOfOrnithology:EBIRD:OBS1535493362,2022-10-08 17:57:29.361748,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,25.0,1.0,G9010626,0.0,1.0,0.0,NaN,NaN,NaN,NaN
982663,URN:CornellLabOfOrnithology:EBIRD:OBS1539042891,2022-10-12 19:22:12.229408,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,2.0,1.0,G9036301,0.0,1.0,0.0,NaN,NaN,NaN,NaN
982664,URN:CornellLabOfOrnithology:EBIRD:OBS1533970210,2022-10-09 09:36:37.239184,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN
982665,URN:CornellLabOfOrnithology:EBIRD:OBS1541452791,2022-10-17 22:19:01.945751,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,3.0,1.0,G9050645,0.0,1.0,0.0,NaN,NaN,NaN,NaN
982666,URN:CornellLabOfOrnithology:EBIRD:OBS1535453365,2022-10-08 17:53:20.716163,33967,species,avibase-4E74AE22,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,NaN,...,3.0,1.0,G9010280,0.0,1.0,0.0,NaN,NaN,NaN,NaN

In [58]:
def ebird_data_processor(data):
    """
    Example usage: 
    ebird_data_processor(OK_Data)
    
    This function cleans ebird data. The following list shows what this function executes within the dataframe: 
    - Converts the observation counts to numeric data, and explaces 'X' with '0'
    - Replaces spaces with '_'
    - Creates a month column that names the months by their English names
    - Drops unnecessary columns
    """
    
    data.columns = data.columns.str.replace(' ', '_')
    data['OBSERVATION_COUNT'] = pd.to_numeric(data['OBSERVATION_COUNT'].str.replace('X', '0').str.strip())
    data['OBSERVATION_DATE'] = pd.to_datetime(data['OBSERVATION_DATE'])
    data['MONTH'] = data['OBSERVATION_DATE'].dt.strftime('%B')
    

    # Columns to drop
    columns_to_drop = ['LAST_EDITED_DATE', 'TAXONOMIC_ORDER', 'CATEGORY', 'TAXON_CONCEPT_ID',
                       'SUBSPECIES_COMMON_NAME', 'SUBSPECIES_SCIENTIFIC_NAME', 'EXOTIC_CODE',
                       'BREEDING_CODE', 'BREEDING_CATEGORY', 'BEHAVIOR_CODE', 'AGE/SEX', 'COUNTRY', 
                       'COUNTRY_CODE', 'COUNTY_CODE', 'IBA_CODE', 'BCR_CODE',
                       'ATLAS_BLOCK', 'LOCALITY', 'LOCALITY_ID', 'USFWS_CODE', 'LOCALITY_TYPE',
                       'SAMPLING_EVENT_IDENTIFIER', 'PROTOCOL_TYPE', 'PROTOCOL_CODE', 'PROJECT_CODE',
                       'EFFORT_AREA_HA', 'ALL_SPECIES_REPORTED', 'GROUP_IDENTIFIER', 'HAS_MEDIA', 
                       'APPROVED', 'REVIEWED', 'REASON', 'TRIP_COMMENTS', 'SPECIES_COMMENTS', 
                       'Unnamed:_49']

    data = data.drop(columns=columns_to_drop, errors='ignore')

    return data

In [59]:
NORCAR_DATA_CLEAN = ebird_data_processor(NORCAR_DATA)

In [60]:
NORCAR_DATA_CLEAN.columns

Index(['GLOBAL_UNIQUE_IDENTIFIER', 'COMMON_NAME', 'SCIENTIFIC_NAME',
       'OBSERVATION_COUNT', 'STATE', 'STATE_CODE', 'COUNTY', 'LATITUDE',
       'LONGITUDE', 'OBSERVATION_DATE', 'TIME_OBSERVATIONS_STARTED',
       'OBSERVER_ID', 'DURATION_MINUTES', 'EFFORT_DISTANCE_KM',
       'NUMBER_OBSERVERS', 'MONTH'],
      dtype='object')

In [61]:
# Aggregate by State
state_aggregate = NORCAR_DATA_CLEAN.groupby('STATE').agg({
    'OBSERVATION_COUNT': 'sum',  # Sum of observation counts
    'DURATION_MINUTES': 'mean',  # Average duration in minutes
    'EFFORT_DISTANCE_KM': 'mean', # Average effort distance in km
    # Add other aggregations as needed
})

# Aggregate by County
county_aggregate = NORCAR_DATA_CLEAN.groupby(['STATE', 'COUNTY']).agg({
    'OBSERVATION_COUNT': 'sum',  # Sum of observation counts
    'DURATION_MINUTES': 'mean',  # Average duration in minutes
    'EFFORT_DISTANCE_KM': 'mean', # Average effort distance in km
    # Add other aggregations as needed
})

In [62]:
state_aggregate

                      OBSERVATION_COUNT  DURATION_MINUTES  EFFORT_DISTANCE_KM
STATE
Alabama                           55735         75.066376            3.132948
Arizona                           37521        102.408644            2.413442
Arkansas                          29877         66.730063            3.518234
California                           57        132.296296            3.049820
Colorado                            264         82.330827            2.759261
Connecticut                       38407         80.818831            2.513119
Delaware                          21484        103.214351            4.304256
District of Columbia              20201         80.286629            2.602215
Florida                          231947         95.182934            3.740372
Georgia                          134481         75.541393            3.201941
Hawaii                             6503         63.005929            2.393432
Illinois                         130090         74.221568            2.918227
Indiana                           89040         72.124262            3.170247
Iowa                              22581         71.232208            3.872888
Kansas                            36906         66.535221            3.331242
Kentucky                          54240         81.399325            2.539829
Louisiana                         52872         84.567618            3.064722
Maine                             20109         73.757407            2.085984
Maryland                         158596         74.828132            2.506604
Massachusetts                    102228         82.487881            2.846301
Michigan                         111426         75.893166            3.086755
Minnesota                         45460         67.281805            2.769197
Mississippi                       22291         86.868915            2.941836
Missouri                          85123         74.751072            4.132173
Montana                               2               NaN                 NaN
Nebraska                          12640         72.868967            3.298948
New Hampshire                     17453         73.142970            2.557565
New Jersey                        78736         95.118512            3.216107
New Mexico                         1362        136.246869            3.215413
New York                         191359         83.767335            2.670019
North Carolina                   186236         73.733927            2.498670
North Dakota                        365         61.892241            1.775612
Ohio                             196876         73.928413            2.579791
Oklahoma                          29155         61.965960            3.690959
Pennsylvania                     197337         72.878598            2.508927
Rhode Island                      10422         72.370099            2.524845
South Carolina                    91439         86.593815            3.343796
South Dakota                       1301         83.390244            4.034114
Tennessee                        102926         76.887483            2.699541
Texas                            371236         96.370931            3.764937
Vermont                           19335         59.624591            1.991960
Virginia                         201154         77.782025            2.683253
West Virginia                     19056         83.596114            2.286530
Wisconsin                         88753         69.842424            2.829324
Wyoming                               5         26.000000            5.903000

In [63]:
county_aggregate

                     OBSERVATION_COUNT  DURATION_MINUTES  EFFORT_DISTANCE_KM
STATE     COUNTY
Alabama   Autauga                  257         44.084906            3.451288
          Baldwin                11045         81.141732            3.018089
          Barbour                  524        107.030000            5.437315
          Bibb                      79         94.555556            3.155542
          Blount                    68         76.000000            8.819000
...                                ...               ...                 ...
Wisconsin Waupaca                  332         59.464968            2.998825
          Waushara                 208         56.226190            1.531000
          Winnebago               2299         59.635112            2.185638
          Wood                     301         44.431373            2.752085
Wyoming   Goshen                     5         26.000000            5.903000

[2570 rows x 3 columns]

In [64]:
Population_Estimates = pd.read_csv('PopulationEstimates.csv')
Population_Estimates

,FIPStxt,State_Code,State,Area_Name,Rural_Urban_Continuum_Code_2003,Rural_Urban_Continuum_Code_2013,Urban_Influence_2003,Urban_Influence_2013,Economic_typology_2015,CENSUS_2020_POP,...,R_DEATH_2021,R_DEATH_2022,R_NATURAL_CHG_2021,R_NATURAL_CHG_2022,R_INTERNATIONAL_MIG_2021,R_INTERNATIONAL_MIG_2022,R_DOMESTIC_MIG_2021,R_DOMESTIC_MIG_2022,R_NET_MIG_2021,R_NET_MIG_2022
0,1001,AL,Alabama,Autauga County,2.0,2.0,2.0,2.0,0.0,"58,805",...,11.5,11.3,0.2,0.6,0.3,0.5,4.1,8.5,4.3,9.0
1,1003,AL,Alabama,Baldwin County,4.0,3.0,5.0,2.0,5.0,"231,767",...,12.9,12.0,-2.9,-2.1,0.4,1.3,29.5,28.7,29.9,30.0
2,1005,AL,Alabama,Barbour County,6.0,6.0,6.0,6.0,3.0,"25,223",...,15.5,15.1,-4.3,-3.9,0.0,0.2,-12.4,9.9,-12.4,10.0
3,1007,AL,Alabama,Bibb County,1.0,1.0,1.0,1.0,0.0,"22,293",...,14.3,14.5,-3.3,-3.3,0.0,0.1,11.6,-13.6,11.7,-13.5
4,1009,AL,Alabama,Blount County,1.0,1.0,1.0,1.0,0.0,"59,134",...,14.6,14.2,-3.5,-2.9,0.2,0.2,2.4,10.0,2.5,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Wyoming,Sweetwater County,5.0,5.0,8.0,8.0,2.0,"42,272",...,10.1,10.5,0.7,0.4,0.4,1.2,-15.3,-7.2,-14.9,-6.0
3139,56039,WY,Wyoming,Teton County,7.0,7.0,8.0,8.0,5.0,"23,331",...,4.0,4.5,5.4,4.7,0.3,1.1,4.6,-20.3,4.8,-19.2
3140,56041,WY,Wyoming,Uinta County,7.0,7.0,8.0,8.0,2.0,"20,450",...,9.0,9.6,2.0,1.3,0.0,-0.2,7.2,2.0,7.2,1.8
3141,56043,WY,Wyoming,Washakie County,7.0,7.0,11.0,11.0,0.0,"7,685",...,14.3,14.9,-4.8,-5.2,0.0,-0.1,12.0,6.7,12.0,6.6
3142,56045,WY,Wyoming,Weston County,7.0,7.0,9.0,9.0,2.0,"6,838",...,13.0,14.7,-4.6,-6.3,0.1,-0.4,-3.7,19.8,-3.5,19.4

In [65]:
Population_Estimates['Area_Name'] = Population_Estimates['Area_Name'].str.replace(' County', '', regex=False)

In [66]:
import pandas as pd

# Resetting the index of county_aggregate
county_aggregate = county_aggregate.reset_index()

# Now rename the columns to match Population_Estimates
# Replace 'State' and 'County' with the actual names of the index levels if they are different
county_aggregate = county_aggregate.rename(columns={'STATE': 'State', 'COUNTY': 'Area_Name'})

# Verifying the column names after reset
print("Columns in county_aggregate after reset:", county_aggregate.columns)

# Merging the DataFrames
merged_data = pd.merge(Population_Estimates, county_aggregate, on=['State', 'Area_Name'], how='inner')

# Viewing the result
print(merged_data)

Columns in county_aggregate after reset: Index(['State', 'Area_Name', 'OBSERVATION_COUNT', 'DURATION_MINUTES',
       'EFFORT_DISTANCE_KM'],
      dtype='object')
      FIPStxt State_Code      State  Area_Name  \
0        1001         AL    Alabama    Autauga
1        1003         AL    Alabama    Baldwin
2        1005         AL    Alabama    Barbour
3        1007         AL    Alabama       Bibb
4        1009         AL    Alabama     Blount
...       ...        ...        ...        ...
2460    55135         WI  Wisconsin    Waupaca
2461    55137         WI  Wisconsin   Waushara
2462    55139         WI  Wisconsin  Winnebago
2463    55141         WI  Wisconsin       Wood
2464    56015         WY    Wyoming     Goshen

      Rural_Urban_Continuum_Code_2003  Rural_Urban_Continuum_Code_2013  \
0                                 2.0                              2.0
1                                 4.0                              3.0
2                                 6.0                              6.0
3                                 1.0                              1.0
4                                 1.0                              1.0
...                               ...                              ...
2460                              6.0                              6.0
2461                              8.0                              6.0
2462                              3.0                              3.0
2463                              4.0                              4.0
2464                              7.0                              7.0

      Urban_Influence_2003  Urban_Influence_2013  Economic_typology_2015  \
0                      2.0                   2.0                     0.0
1                      5.0                   2.0                     5.0
2                      6.0                   6.0                     3.0
3                      1.0                   1.0                     0.0
4                      1.0                   1.0                     0.0
...                    ...                   ...                     ...
2460                   6.0                   6.0                     3.0
2461                   6.0                   6.0                     5.0
2462                   2.0                   2.0                     3.0
2463                   5.0                   5.0                     0.0
2464                   9.0                   9.0                     0.0

     CENSUS_2020_POP  ... R_NATURAL_CHG_2022 R_INTERNATIONAL_MIG_2021  \
0             58,805  ...                0.6                      0.3
1            231,767  ...               -2.1                      0.4
2             25,223  ...               -3.9                      0.0
3             22,293  ...               -3.3                      0.0
4             59,134  ...               -2.9                      0.2
...              ...  ...                ...                      ...
2460          51,812  ...               -6.7                      0.0
2461          24,520  ...               -5.5                      0.0
2462         171,730  ...               -0.5                      0.5
2463          74,207  ...               -3.2                      0.1
2464          12,498  ...               -6.4                      0.3

     R_INTERNATIONAL_MIG_2022 R_DOMESTIC_MIG_2021 R_DOMESTIC_MIG_2022  \
0                         0.5                 4.1                 8.5
1                         1.3                29.5                28.7
2                         0.2               -12.4                 9.9
3                         0.1                11.6               -13.6
4                         0.2                 2.4                10.0
...                       ...                 ...                 ...
2460                      0.1                10.1                -2.7
2461                      0.2                15.6                13.1
2462                      1.3                -7.4                 0.7
2463                      0.3                 0.8                 2.2
2464                      0.6                 8.9                 6.8

     R_NET_MIG_2021 R_NET_MIG_2022 OBSERVATION_COUNT DURATION_MINUTES  \
0               4.3            9.0               257        44.084906
1              29.9           30.0             11045        81.141732
2             -12.4           10.0               524       107.030000
3              11.7          -13.5                79        94.555556
4               2.5           10.2                68        76.000000
...             ...            ...               ...              ...
2460           10.1           -2.6               332        59.464968
2461           15.7           13.3               208        56.226190
2462           -6.9            1.9              2299        59.635112
2463            0.9            2.5               301        44.431373
2464            9.2            7.4                 5        26.000000

     EFFORT_DISTANCE_KM
0              3.451288
1              3.018089
2              5.437315
3              3.155542
4              8.819000
...                 ...
2460           2.998825
2461           1.531000
2462           2.185638
2463           2.752085
2464           5.903000

[2465 rows x 57 columns]

In [67]:
county_aggregate

,State,Area_Name,OBSERVATION_COUNT,DURATION_MINUTES,EFFORT_DISTANCE_KM
0,Alabama,Autauga,257,44.084906,3.451288
1,Alabama,Baldwin,11045,81.141732,3.018089
2,Alabama,Barbour,524,107.030000,5.437315
3,Alabama,Bibb,79,94.555556,3.155542
4,Alabama,Blount,68,76.000000,8.819000
...,...,...,...,...,...
2565,Wisconsin,Waupaca,332,59.464968,2.998825
2566,Wisconsin,Waushara,208,56.226190,1.531000
2567,Wisconsin,Winnebago,2299,59.635112,2.185638
2568,Wisconsin,Wood,301,44.431373,2.752085
2569,Wyoming,Goshen,5,26.000000,5.903000

In [68]:
merged_data

,FIPStxt,State_Code,State,Area_Name,Rural_Urban_Continuum_Code_2003,Rural_Urban_Continuum_Code_2013,Urban_Influence_2003,Urban_Influence_2013,Economic_typology_2015,CENSUS_2020_POP,...,R_NATURAL_CHG_2022,R_INTERNATIONAL_MIG_2021,R_INTERNATIONAL_MIG_2022,R_DOMESTIC_MIG_2021,R_DOMESTIC_MIG_2022,R_NET_MIG_2021,R_NET_MIG_2022,OBSERVATION_COUNT,DURATION_MINUTES,EFFORT_DISTANCE_KM
0,1001,AL,Alabama,Autauga,2.0,2.0,2.0,2.0,0.0,"58,805",...,0.6,0.3,0.5,4.1,8.5,4.3,9.0,257,44.084906,3.451288
1,1003,AL,Alabama,Baldwin,4.0,3.0,5.0,2.0,5.0,"231,767",...,-2.1,0.4,1.3,29.5,28.7,29.9,30.0,11045,81.141732,3.018089
2,1005,AL,Alabama,Barbour,6.0,6.0,6.0,6.0,3.0,"25,223",...,-3.9,0.0,0.2,-12.4,9.9,-12.4,10.0,524,107.030000,5.437315
3,1007,AL,Alabama,Bibb,1.0,1.0,1.0,1.0,0.0,"22,293",...,-3.3,0.0,0.1,11.6,-13.6,11.7,-13.5,79,94.555556,3.155542
4,1009,AL,Alabama,Blount,1.0,1.0,1.0,1.0,0.0,"59,134",...,-2.9,0.2,0.2,2.4,10.0,2.5,10.2,68,76.000000,8.819000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,55135,WI,Wisconsin,Waupaca,6.0,6.0,6.0,6.0,3.0,"51,812",...,-6.7,0.0,0.1,10.1,-2.7,10.1,-2.6,332,59.464968,2.998825
2461,55137,WI,Wisconsin,Waushara,8.0,6.0,6.0,6.0,5.0,"24,520",...,-5.5,0.0,0.2,15.6,13.1,15.7,13.3,208,56.226190,1.531000
2462,55139,WI,Wisconsin,Winnebago,3.0,3.0,2.0,2.0,3.0,"171,730",...,-0.5,0.5,1.3,-7.4,0.7,-6.9,1.9,2299,59.635112,2.185638
2463,55141,WI,Wisconsin,Wood,4.0,4.0,5.0,5.0,0.0,"74,207",...,-3.2,0.1,0.3,0.8,2.2,0.9,2.5,301,44.431373,2.752085
2464,56015,WY,Wyoming,Goshen,7.0,7.0,9.0,9.0,0.0,"12,498",...,-6.4,0.3,0.6,8.9,6.8,9.2,7.4,5,26.000000,5.903000